:host {
  display: block;
  height: auto;
  min-height: 3rem;
  background-image: url();
  padding: 0 24px 0 0;
  overflow: visible;
}

.button {
  margin: 0 0 12px 0;
}

.space-component {
  width: 100%;
}
