:host {
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}

.space-component {
  height: auto;
  min-height: 3rem;
  background-image: url();
  overflow: visible;
}

.image {
  width: 40px;
  border-radius: 0;
  object-fit: fill;
}

.card {
  width: 100%;
}
