<nb-card class="card" status="danger" accent="danger">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-2 background-transparent">
      <img class="image" src="https://i.ibb.co/4NkDJPJ/Group-95.png">
    </div>
    <div class="space space-component vcenter hleft col-md-10 background-transparent">
      <span class="text-alternate subtitle">New updates available!</span>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <p class="text-basic paragraph-2">Update your application until 01/01</p>
    </div>
  </nb-card-body>
</nb-card>