<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <span class="text-basic subtitle-2">My contacts                                          </span>
      <label class="right text-basic label">223 contacts</label>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component vcenter hleft col-md-2 background-transparent">
      <img class="image" src="https://media.creativemornings.com/uploads/user/avatar/2279/kim_face_circle.jpeg">
    </div>
    <div class="space space-component1 vcenter hleft col-md-10 background-transparent">
      <span class="text-basic subtitle-2">Andy Kit</span>
    </div>
    <div class="space space-component2 vcenter hleft col-md-2 background-transparent">
      <img class="image1" src="https://images.unsplash.com/photo-1500522144261-ea64433bbe27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
    </div>
    <div class="space space-component1 vcenter hleft col-md-10 background-transparent">
      <span class="text-basic subtitle-2">Anna Guanga</span>
    </div>
    <div class="space space-component2 vcenter hleft col-md-2 background-transparent">
      <img class="image2" src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1630&q=80">
    </div>
    <div class="space space-component1 vcenter hleft col-md-10 background-transparent">
      <span class="text-basic subtitle-2">Kevin Bull</span>
    </div>
    <div class="space space-component2 vcenter hleft col-md-2 background-transparent">
      <img class="image1" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
    </div>
    <div class="space space-component1 vcenter hleft col-md-10 background-transparent">
      <span class="text-basic subtitle-2">Leo Natan</span>
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <a href="" target="_blank"  class="text-primary">Other contacts</a>
    </div>
  </nb-card-footer>
</nb-card>