<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <h6 class="text-basic">New messages</h6>
      <button nbButton class="right" size="medium" appearance="filled" status="primary">
          <nb-icon icon="plus-circle"></nb-icon>
          Add
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component vtop hleft col-md-12 background-transparent">
      <input nbInput class="input" placeholder="Search" fieldSize="medium" type="text" shape="rectangle" fullWidth>
    </div>
    <div class="space space-component1 vcenter hleft col-md-1 background-transparent">
      <img class="image" src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1630&q=80">
    </div>
    <div class="space space-component3 vcenter hleft col-md-9 background-transparent space-container">
      <div class="space space-component2 vtop hleft col-md-12 background-transparent">
        <p class="text bold text-basic paragraph">Kevin</p>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text1 text-basic paragraph">So you have heard about this site or you have been to it, but you cannot figure out what it is or what it can do. MTA web directory is the..</p>
      </div>
    </div>
    <div class="space space-component vcenter hright col-md-2 background-transparent">
      <p class="right text-primary paragraph">26 Apr</p>
    </div>
    <div class="space space-component vcenter hleft col-md-1 background-transparent">
      <img class="image1" src="https://images.unsplash.com/photo-1500522144261-ea64433bbe27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
    </div>
    <div class="space space-component4 vtop hleft col-md-9 background-transparent space-container">
      <div class="space space-component2 vtop hleft col-md-12 background-transparent">
        <p class="text bold text-basic paragraph">Anna</p>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text1 text-basic paragraph">So you have heard about this site or you have been to it, but you cannot figure out what it is or what it can do.</p>
      </div>
    </div>
    <div class="space space-component vcenter hright col-md-2 background-transparent">
      <p class="right text-primary paragraph">25 Apr</p>
    </div>
    <div class="space space-component vcenter hleft col-md-1 background-transparent">
      <img class="image1" src="https://images.unsplash.com/photo-1500522144261-ea64433bbe27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
    </div>
    <div class="space space-component4 vtop hleft col-md-9 background-transparent space-container">
      <div class="space space-component2 vtop hleft col-md-12 background-transparent">
        <p class="text bold text-basic paragraph">Anna</p>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text1 text-basic paragraph">Thanks for so good lectionary on! I open shared files and find so many interesting things inside!</p>
      </div>
    </div>
    <div class="space space-component vcenter hright col-md-2 background-transparent">
      <p class="right text-primary paragraph">20 Apr</p>
    </div>
    <div class="space space-component vcenter hleft col-md-1 background-transparent">
      <img class="image2" src="https://media.creativemornings.com/uploads/user/avatar/2279/kim_face_circle.jpeg">
    </div>
    <div class="space space-component4 vtop hleft col-md-9 background-transparent space-container">
      <div class="space space-component2 vtop hleft col-md-12 background-transparent">
        <p class="text bold text-basic paragraph">Andy</p>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text1 text-basic paragraph">Hello! I need some more information about your project. Give me more content for Landing page and Contact.</p>
      </div>
    </div>
    <div class="space space-component vcenter hright col-md-2 background-transparent">
      <p class="right text-primary paragraph">16 Apr</p>
    </div>
    <div class="space space-component vcenter hleft col-md-1 background-transparent">
      <img class="image1" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
    </div>
    <div class="space space-component5 vtop hleft col-md-9 background-transparent space-container">
      <div class="space space-component2 vtop hleft col-md-12 background-transparent">
        <p class="text bold text-basic paragraph">Andy</p>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text-basic paragraph">Please, check last updates about Home page for website and send me comments.</p>
      </div>
    </div>
    <div class="space space-component vcenter hright col-md-2 background-transparent">
      <p class="right text-primary paragraph">26 Apr</p>
    </div>
    <div class="space space-component vcenter hleft col-md-1 background-transparent">
      <img class="image3" src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1630&q=80">
    </div>
    <div class="space space-component4 vtop hleft col-md-9 background-transparent space-container">
      <div class="space space-component2 vtop hleft col-md-12 background-transparent">
        <p class="text bold text-basic paragraph">Kevin</p>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text1 text-basic paragraph">So you have heard about this site or you have been to it, but you cannot figure out what it is or what it can do. MTA web directory is the..</p>
      </div>
    </div>
    <div class="space space-component vcenter hright col-md-2 background-transparent">
      <p class="right text-primary paragraph">10 Apr</p>
    </div>
    <div class="space space-component vcenter hleft col-md-1 background-transparent">
      <img class="image1" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
    </div>
    <div class="space space-component4 vtop hleft col-md-9 background-transparent space-container">
      <div class="space space-component2 vtop hleft col-md-12 background-transparent">
        <p class="text bold text-basic paragraph">Andy</p>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text1 text-basic paragraph">Thanks for so good lectionary on! I open shared files and find so many interesting things inside!</p>
      </div>
    </div>
    <div class="space space-component vcenter hright col-md-2 background-transparent">
      <p class="right text-primary paragraph">26 Apr</p>
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-9 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-2 background-transparent">
      
    </div>
  </nb-card-body>
</nb-card>