:host {
  display: block;
  width: calc(100% - 8px);
  margin: 0 8px 24px 0;
}

.space-component {
  height: auto;
  min-height: 3rem;
  background-image: url();
  overflow: visible;
}

.input {
  margin: 0 0 12px 0;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: fill;
}

.space-component1 {
  height: auto;
  min-height: 3rem;
  background-image: url();
  padding: 0 0 4px 0;
  overflow: visible;
}

.text {
  margin: 0 0 4px 0;
}

.space-component2 {
  height: 24px;
  background-image: url();
  overflow: visible;
}

.text1 {
  margin: 0 4px 0 0;
}

.space-component3 {
  height: auto;
  min-height: 3rem;
  background-image: url();
  padding: 4px 0 16px 12px;
  overflow: visible;
}

.image1 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.space-component4 {
  height: auto;
  min-height: 3rem;
  background-image: url();
  padding: 16px 0 16px 12px;
  overflow: visible;
}

.image2 {
  width: 40px;
  margin: 4px 0;
  border-radius: 100px;
  object-fit: fill;
}

.space-component5 {
  height: auto;
  min-height: 3rem;
  background-image: url();
  padding: 16px 4px 16px 12px;
  overflow: visible;
}

.image3 {
  width: 40px;
  border-radius: 100px;
  object-fit: fill;
}

.card {
  width: 100%;
}
